<header class="bg-white shadow-md" is="header-componnent">
	<div class="header" id="header">
		<div class="header-box">
			<div class="header-context">
				<svg id="js-menu-btn" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-6 cursor-pointer md:hidden">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
				</svg>
				<form is="search-bar" action="{{ path('search') }}" class="search-form" method="GET">
					<label id="js-search-btn" for="search" class="search-label">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
						</svg>
					</label>
					<div id="js-search" class="header-search-bar is-visible">
						<input type="search" name="q" id="search" placeholder="Chercher..." class="h-10 mt-20 form-input"/>
						<p class="text-sm text-center mx-5 w-auto text-slate-500 my-4">
							Trouvez ce que vous cherchez parmis des <strong class="text-purple">Tutoriels</strong>, des <strong class="text-purple">Ressources</strong>, des <strong class="text-purple">Membres</strong> et des <strong class="text-purple">Projets</strong>.
						</p>
						<svg id="js-close-search-btn" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 absolute right-2 top-2 cursor-pointer">
							<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
						</svg>
					</div>
				</form>
				<nav is="hamburger-menu" class="header-nav hidden">
					<ul class="header-nav-list">
						<li class="{% if app.request.pathInfo == path('article') %} {{'focus'}} {% endif %}">
							<a href="{{ path('article') }}" class="flex items-center justify-center">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
									<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z"></path>
								</svg>
								Articles
							</a>
						</li>
						<li class="{% if app.request.pathInfo == path('project') %} {{'focus'}} {% endif %}">
							<a href="{{ path('project') }}" class="flex items-center justify-center">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
									<path stroke-linecap="round" stroke-linejoin="round" d="M7.875 14.25l1.214 1.942a2.25 2.25 0 001.908 1.058h2.006c.776 0 1.497-.4 1.908-1.058l1.214-1.942M2.41 9h4.636a2.25 2.25 0 011.872 1.002l.164.246a2.25 2.25 0 001.872 1.002h2.092a2.25 2.25 0 001.872-1.002l.164-.246A2.25 2.25 0 0116.954 9h4.636M2.41 9a2.25 2.25 0 00-.16.832V12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 12V9.832c0-.287-.055-.57-.16-.832M2.41 9a2.25 2.25 0 01.382-.632l3.285-3.832a2.25 2.25 0 011.708-.786h8.43c.657 0 1.281.287 1.709.786l3.284 3.832c.163.19.291.404.382.632M4.5 20.25h15A2.25 2.25 0 0021.75 18v-2.625c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125V18a2.25 2.25 0 002.25 2.25z"></path>
								</svg>
								Projets
							</a>
						</li>
						<li class="{% if app.request.pathInfo == path('ressource') %} {{'focus'}} {% endif %}">
							<a href="{{ path('ressource') }}" class="flex items-center justify-center">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
									<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z"/>
								</svg>
								Ressources
							</a>
						</li>
						<li class="{% if app.request.pathInfo == path('dev_space') %} {{'focus'}} {% endif %}">
							<a href="{{ path('dev_space') }}" class="flex items-center justify-center">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
									<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5"></path>
								</svg>
								DevSpace
							</a>
						</li>
					</ul>
					<svg id="js-close-menu-btn" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 absolute right-2 top-2 cursor-pointer md:hidden">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</nav>
			</div>
			<a href="{{ path('home') }}" class="header-title">
				<h1 class="brand">
					SpaceCoder
				</h1>
			</a>
		</div>
		<div is="header-account" class="relative">
			<img id="js-account-toggle" src="{% if app.user and app.user.user.avatar %}{{app.user.user.avatar}}{% else %} /favicon.svg {% endif %}" alt="avater" class="avatar blink"/>
			    <div id="js-header-account" class="hidden absolute mt-2 right-5 w-max rounded shadow-md border backdrop-blur-xl bg-white z-20">
					<ul class="text-gray-500 font-bold">
					{% if app.user %}
						<li class="p-3 border-b-2">
							{{ app.user.user }} • <span class="rho">{{app.user.user.coins}}</span>
						</li>
						<li class="">
							<a href="{{ path('profile', {slug: app.user.user.slug}) }}" class="p-3 w-full h-full flex items-center gap-3 hover:bg-transparent-purple">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
									<path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
								</svg>
								Mon Compte
							</a>
						</li>
						<li class="">
							<a href="{{ path('profile_edit') }}" class="account-link">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
                                </svg>
								Paramètres
							</a>
						</li>
						{% if is_granted('ROLE_ADMIN') %}
						<li class="text-white bg-gray-500">
							<a href="{{ path('admin') }}" class="account-link">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
									<path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
								</svg>
								Admin
							</a>
						</li>
						{% endif %}
						<li class="">
							<a href="{{ path('logout') }}" class="account-link logout">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
									<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
								</svg>
								Deconnexion
							</a>
						</li>
            		{% else %}
						<li class="">
							<a href="{{ path('login') }}" class="p-3 w-full h-full flex items-center gap-3">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
									<path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
								</svg>
								Se connecter
							</a>
						</li>
						<li class="">
							<a href="{{ path('registration') }}" class="p-3 w-full h-full flex items-center gap-3 bg-purple-light text-white">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
									<path stroke-linecap="round" stroke-linejoin="round" d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z" />
								</svg>
								S'inscrire
							</a>
						</li>
            		{% endif %}
					</ul>
                </div>
			</div>
		</div>
	</div>
</header>