{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>Bonjour - Home</h1>
{% if app.user %}
<br>
<a href="{{path('profile', {slug: app.user.user.slug})}}">
    {{ app.user.user.pseudo }}
</a>
<br>
<a href="/logout">
	Deconnexion
</a>
<br>
<a href="{{path('admin')}}">
	Admin
</a>
{% else %}
<br>
<a href="{{path('registration')}}">
	Inscription
</a>
<br>
<a href="{{path('login')}}">
	Connexion
</a>
{% endif %}

<h2>
	<a href="{{path('article')}}">
		Articles
	</a>
</h2>
<h2>
	<a href="{{path('project')}}">
		Projets
	</a>
</h2>
<h2>
	<a href="{{path('ressource')}}">
		Ressources
	</a>
</h2>
<h2>
	<a href="">
		DevSpace
	</a>
</h2>


{% endblock %}
