{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}

<div class="container m-auto rounded bg-gray-100 shadow-md my-5">
    <nav class="breadcrumb w-full p-5 max-w-3xl m-auto">
        <ul class="breadcrumb-list">
			<li class="item"><a href="{{ path('home') }}">Accueil</a></li>
            <li class="item"><a href="{{ path('profile', {slug: app.user.user.slug}) }}">Profil de {{app.user.user}}</a></li>
            <li class="item active">
                <a href="">Notifications</a>
            </li>
        </ul>
    </nav>  
    <div class="m-auto flex w-full p-5 text-3xl font-bold max-w-3xl">Mes Notifications <sup class="text-xl font-mono">{{ to_see }}/{{ notifications | length }}</sup> </div>
</div>

<div class="container m-auto rounded shadow-md p-4 mb-5 bg-gray-100 flex flex-col items-center justify-center h-full">

    {% if notifications | length > 0 %}
        {% include "/entity/notification/_notification.html.twig" %}
    {% else %}
        {% include "entity/notification/_any.html.twig" %}
    {% endif %}

</div>


{% endblock %}
