{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container m-auto rounded shadow-md mb-5 bg-gray-100">
        <nav class="breadcrumb w-full p-3">
            <ul class="breadcrumb-list">
                <li class="item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="item active">
                    <a href="">Recherche</a>
                </li>
            </ul>
        </nav>

        <div class="w-full flex md:items-center gap-5 p-4 md:flex-row flex-col">
            <div class="flex-2">
            <span class="hero">
            {% if search.totalItem == 0 %}
                Recherchez
            {% else %}
                {{ search.totalItem }} <span
                    class="text-purple">Résultat{% if search.totalItem > 1 %}s{% endif %}</span>
            {% endif %}
            </span>
                <span class="hero-text">{% if search.totalItem != 0 %}Page {{ search.currentPage }}{% endif %}</span>
            </div>
            <form action="" class="search flex-1">

                <label>
                    <input type="search" name="q" placeholder="Rechercher" value="{{ search.q }}" class="form-input">
                </label>
                <button class="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5"
                         stroke="white" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                    </svg>
                </button>
            </form>
        </div>
    </div>

    {# RESULTS #}
    <div class="container m-auto rounded mb-5 flex flex-col gap-4 text-gray-500">
        {% if search.data %}
            {% for item in search.data %}

                {% if item.nature == 'Article' %}
                    <a
                            class="flex flex-col p-4 border hover:border-purple rounded bg-gray-100 shadow-md"
                            href="{{ path('article.show', {slug: item.url}) }}"
                    >
                        <span class="h4 text-purple">{{ item.title | raw }}</span>
                        <span class="text-xs font-mono">Article | {{ item.publishedAt | date('d/m/Y') }}</span>
                        <span class="">{{ item.description | raw }}</span>
                    </a>

                {% elseif item.nature == 'Ressource' %}
                    <a
                            class="flex flex-col p-4 border hover:border-purple rounded bg-gray-100 shadow-md"
                            href="{{ path('ressource_visit', {slug: item.url}) }}"
                    >
                        <span class="h4 text-purple">{{ item.title | raw }}</span>
                        <span class="text-xs font-mono">Ressource | {{ item.publishedAt | date('d/m/Y') }}</span>
                        <span class="">{{ item.description | raw }}</span>
                    </a>

                {% elseif item.nature == 'Project' %}
                    <a
                            class="flex flex-col p-4 border hover:border-purple rounded bg-gray-100 shadow-md"
                            href="{{ path('project_view', {slug: item.url}) }}"
                    >
                        <span class="h4 text-purple">{{ item.title | raw }}</span>
                        <span class="text-xs font-mono">Projet | {{ item.publishedAt | date('d/m/Y') }}</span>
                        <span class="">{{ item.description | raw }}</span>
                    </a>

                {% elseif item.nature == 'User' %}

                    <a
                            class="flex flex-col gap-4 md:flex-row items-center md:items-start p-4 border hover:border-purple rounded bg-gray-100 shadow-md"
                            href="{{ path('profile', {slug: item.url}) }}"

                    >
                    <span class="">
                        <span class="avatar-country semi">
                            <img src="{% if item.other.avatar %} {{ item.other.avatar }} {% else %} /favicon.svg {% endif %}"
                                 alt="{{ item.other }}" title="{{ item.other }}" class="avatar semi"/>
                            <img alt="{{ item.other.country }}" src="" loading="lazy" class="country-flag" title="{{ item.other.country }}" width="25px"
                                 is="country-flag" data-country="{{ item.other.country }}" data-type="svg"/>
                        </span>
                    </span>
                        <span class="flex flex-col text-center md:text-start">
                        <span class="h3 text-purple">{{ item.title | raw }} • <span
                                    class="rho">{{ item.other.coins }}</span> </span>
                        <span class="italic">{{ item.description | raw }}</span>
                        <span class="text-xs mt-1 font-mono">Utilisateur</span>
                    </span>
                    </a>
                {% endif %}


            {% endfor %}
        {% else %}
            <div class="flex flex-col items-center p-4 border bg-gray-100 rounded">
                <img src="/image/boy.png" alt="Not found">
                <span class="h1 text-purple">Noooppe!!!</span>
                <span>Aucun résultat n'a été trouvé pour cette recherche :(</span>
            </div>
        {% endif %}
    </div>

    {# PAGINATION #}
    {% if knp_pagination_render(search.pagination) %}
        <div class="navigation container m-auto my-10 flex justify-center items-center p-4 border bg-gray-100 rounded">
            {{ knp_pagination_render(search.pagination) }}
        </div>
    {% endif %}


{% endblock %}