{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<div class="container m-auto bg-gray-100 shadow-md rounded my-10 p-6 text-gray-500">

    
    <h1 class="text-purple font-black hero mb-8">Conditions générales d'utilisation du site web SpaceCoder</h1>

    <div class="pt-6 mt-4 text-format">
        <h1>Objet</h1>
        <p>Les présentes « <span class="font-black">conditions générales d'utilisation</span> » ont pour objet l'encadrement juridique de l’utilisation du site <a href="{{ path('home') }}">{{ 'spacecoder.fun' }}</a> et de ses services.</p>

        <p>Ce contrat est conclu entre :</p>
        <ul>
            <li>Le gérant du site internet, ci-après désigné « l’Éditeur »,</li>
            <li>Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».</li>
        </ul>
        <p>Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.</p>


        <h1>Mentions légales</h1>
        <p>Le site <a href="{{ path('home') }}">{{ 'spacecoder.fun' }}</a> est édité par <a href="https://sergemezui.com">Serge Mezui</a>, domicilié au Gabon, Libreville.</p>

        <h1>Accès aux services</h1>
        <p>Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n’importe où au site. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.</p>


        <p>Les services suivants ne sont pas accessible pour l’Utilisateur que s’il est membre du site (c’est-à-dire qu’ile st identifié à l’aide de ses identifiants de connexion) :</p>

        <ul>
            <li>Publication de commentaires ;</li>
            <li>Demande de suggestion;</li>
            <li>Edition de compte ;</li>
            <li>Création de Linker.</li>
        </ul>

        <p>Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification.</p>

        <h1>Responsabilité de l’Utilisateur</h1>
        <p>L'Utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de passe.</p>
        <p>Le mot de passe de l’Utilisateur doit rester secret. En cas de divulgation de mot de passe, l’Éditeur décline toute responsabilité et met à disposition l’Utilisateur plusieurs moyens de recours.</p>
        <p>L’Utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents sur le site <a href="{{ path('home') }}">{{ 'spacecoder.fun' }}</a>.</p>
        <p>Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site.</p>
        <p>Le site permet aux membres de publier sur le site :</p>
        <ul>
            <li>Commentaires ;</li>
            <li>Suggestions;</li>
            <li>Avatar. (photo de profil)</li>
        </ul>
        <p>Le membre s’engage à tenir des propos respectueux des autres et de la loi et accepte que ces publications soient modérées ou refusées par l’Éditeur, sans obligation de justification. </p>
        <p>En publiant sur le site, l’Utilisateur cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé.</p>
        <p>L’Éditeur s'engage toutefois à citer le membre en cas d’utilisation de sa publication.</p>


        <h1>Responsabilité de l’Éditeur</h1>
        <p>Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.</p>
        <p>De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>
        <p>Le site <a href="{{ path('home') }}">{{ 'spacecoder.fun' }}</a> s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.</p>
        <p>L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées sur le site soient réputées fiables.</p>

        <h1>Propriété intellectuelle</h1>
        <p>Les contenus du site <a href="{{ path('home') }}">{{ 'spacecoder.fun' }}</a> (logos, textes, éléments graphiques, vidéos, etc.) sont protégés par le droit d’auteur, en vertu du Code de la propriété intellectuelle.</p>
        <p>L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de ces différents contenus.</p>
        <p>Ces derniers peuvent être utilisés par les utilisateurs à des fins privées ; tout usage commercial est interdit.</p>
        <p>L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter atteinte à un tiers.</p>
        <p>L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en ligne par les utilisateurs, et ce, sans justification.</p>


        <h1>Données personnelles</h1>
        <p>L’Utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le site. </p>
        <p>L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site pour la communication d’informations diverses et la gestion du compte. Il n’est en aucun cas diffusé et reste protégé par le site.</p>
        <p>Le mot de passe est crypté et seul l’Utilisateur peut le connaître. Ni l'Éditeur, ni un tiers ne peut y avoir accès.</p>
        <p>La date de naissance de l’Utilisateur permet de l’identifier et n’est utilisé qu'à des fins d'études statistiques. </p>
        <p>Le pays de l’Utilisateur ne constitue pas une information fiable, car elle ne correspond pas au pays d'établissement de l’Utilisateur. Il lui permet notamment de partager ses préférences avec l’ensemble de la communauté.</p>
        <p>Les données de tracking des utilisateurs récoltées par le site <a href="{{ path('home') }}">{{ 'spacecoder.fun' }}</a> ne sont jamais partagées avec des tiers, elles sont traitées et analysées par la société elle-même.</p>
        <p><a href="{{ path('home') }}">{{ 'spacecoder.fun' }}</a> garantit le respect de la vie privée de l’utilisateur.</p>
        <p>L'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. </p>
        <p>L'Utilisateur exerce ce droit via :</p>

        <ul>
            <li>Son espace personnel sur le site ;</li>
            <li>Un formulaire de contact;</li>
            <li>Par mail à <a href="mailto:contact@spacecoder.fun">contact@spacecoder.fun</a>.</li>
        </ul>


        <h1>Liens hypertextes</h1>
        <p>Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité de l’Éditeur de <a href="{{ path('home') }}">{{ 'spacecoder.fun' }}</a>, qui n’a pas de contrôle sur ces liens.</p>
        <p>Il est possible pour un tiers de créer un lien vers une page du site [votre site] sans autorisation expresse de l’éditeur.</p>


        <h1>Évolution des conditions générales d’utilisation</h1>
        <p>Le site <a href="{{ path('home') }}">{{ 'spacecoder.fun' }}</a> se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.</p>


        <h1>Durée du contrat</h1>
        <p>La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service.</p>

        
    </div>



</div>


{% endblock %}