<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#7300C4">
        <meta name="application-name" content="SpaceCoder">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/favicon.svg">

        {% block meta %}
        <meta name="title" content="SpaceCoder">
        <meta name="description" content="Rejoignez le voyage à travers le web et partagez librement vos idées, ici on vous écoute !">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{absolute_url(app.request.pathInfo)}}">
        <meta property="og:title" content="SpaceCoder">
        <meta property="og:description" content="Rejoignez le voyage à travers le web et partagez librement vos idées, ici on vous écoute !">
        <meta property="og:image" content="{{absolute_url(asset('favicon.svg'))}}">


        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{absolute_url(app.request.pathInfo)}}">
        <meta property="twitter:title" content="SpaceCoder">
        <meta property="twitter:description" content="Rejoignez le voyage à travers le web et partagez librement vos idées, ici on vous écoute !">
        <meta property="twitter:image" content="{{absolute_url(asset('favicon.svg'))}}">
        {% endblock %}

        <script src="https://cdn.tailwindcss.com"></script>
        
        {% if app.environment == 'prod' %}
            <!-- Matomo -->
            <script defer>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//matomo.sergemezui.com/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '3']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
            </script>
            <!-- End Matomo Code -->
        {% endif %}
    </head>
    <body class="">

    
        {% for label, messages in app.flashes %}

            {% for message in messages %}
                <span
                    class="js-toast"
                    data-title=""
                    data-feed="{{ label }}"
                    data-content="{{ message | raw}}"
                >
            {% endfor %}

        {% endfor %}


        {% include "servant/_partials/_header.html.twig" %}
        
        <div class="main container mx-auto my-5 rounded">
            {% block body %}{% endblock %}
        </div>

    </body>
</html>