{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
<div class="container m-auto rounded bg-gray-100 shadow-md my-5">
    <nav class="breadcrumb w-full p-5">
        <ul class="breadcrumb-list">
			<li class="item"><a href="{{ path('home') }}">Acceuil</a></li>
            <li class="item"><a href="{{ path('profile', {slug: app.user.user.slug}) }}">Profil de {{app.user.user}}</a></li>
            <li class="item active">
                <a href="">Modifier</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container m-auto rounded shadow-md p-4 bg-gray-100 flex flex-col items-center justify-center h-full"> 
    <form action="" method="post" enctype="multipart/form-data" class="flex flex-col gap-4 md:flex-row">
        {{ form_start(form) }}
        {{ form_row(form._token) }}

        <div is="avatar-form" class="form-control flex-1 flex flex-col items-center justify-center" data-btn=" .edit" data-img=" .edit img">

            <div class="avatar-edit">
                <img src="{% if user.avatar %}{{user.avatar}}{% else %}/favicon.svg{% endif %}" alt="avatar edit big" title="avatar edit big" class="avatar big"/>
            </div>
            <div style="display:none;">
                {% if user.avatar %}
                    {{ form_widget(form.avatar, {'attr': {'value': user.avatar }}) }}
                {% else %}
                    {{ form_widget(form.avatar) }}
                {% endif %}

            </div>
            {{ form_errors(form.avatar) }}
            {{ form_help(form.avatar) }}
        </div>

        <div class="row flex-1 p-4">
            <div class="form-control {% if form_errors(form.bornAt) %} invalid {% endif %}">
                {{ form_label(form.bornAt) }}
                {{ form_widget(form.bornAt) }}
                {{ form_errors(form.bornAt) }}
            </div>

            <div class="form-control {% if form_errors(form.country) %} invalid {% endif %}">
                {{ form_label(form.country) }}
                {{ form_widget(form.country) }}
                {{ form_errors(form.country) }}
            </div>

            <div class="form-control {% if form_errors(form.bio) %} invalid {% endif %}">
                {{ form_label(form.bio) }}
                {{ form_widget(form.bio) }}
                {{ form_errors(form.bio) }}
            </div>


            <div class="mt-6 flex justify-between items-center">
                <input type="reset" name="reset" id="res" value="REINITIALISER" class="btn btn-secondary"/>
                <input type="submit" name="submit" id="sub" value="METTRE A JOUR" class="btn btn-primary"/>
            </div>
        </div>
        {{ form_end(form) }}
    </form>
</div>
{% endblock %}
