{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

{# CONTAINER #}
<div class="container m-auto bg-gray-100 text-gray-500 p-5 mb-5">

	<nav class="breadcrumb">
		<ul class="breadcrumb-list">
			<li class="item"><a href="{{ path('home') }}">Acceuil</a></li>
			<li class="item active">
				<a href="">Profil de {{user}}</a>
			</li>
		</ul>
	</nav>
	<hr>
	{# DASHBOARD #}
	{% if user == app.user.user %}
		<div class="my-3 flex flex-col mb-5">
			<h2>Tableau de bord*</h2>
			<ul class="list-disc list-inside flex flex-col gap-2 lg:flex-row">
				<li><a href="{{path('profile_edit')}}" class="btn-mini">Modifier le profile</a></li>
				<li><a href="{{path('profile_changepassword')}}" class="btn-mini">Changer de mot de passe</a></li>
				<li><a href="{{path('change_email')}}" class="btn-mini">Changer d'email</a></li>
				<li><a href="{{path('profile_delete')}}" class="btn-mini">Supprimer mon compte</a></li>
			</ul>
		</div>
		<hr>
	{% endif %}


	{# PROFILE DATA #}
	<div class="flex h-max md:flex-row flex-col mt-4">

		{# AVATAR #}
		<div class="flex-1 flex flex-col gap-4 items-center justify-center p-2">
			<div class="relative">
            	<img src="{% if user.avatar %} {{user.avatar}} {% else %} /favicon.svg {% endif %}" alt="{{user}}" title="{{user}}" class="avatar big" />
				<img src="" loading="lazy" class="block rounded absolute bottom-3 right-3" title="{{user.country}}" width="35px" is="country-flag" data-country="{{user.country}}" data-type="png"/>
			</div>
			<p>{{user}} • <span class="rho">{{user.coins}}</span></p>
			<p class="text-center px-2 italic">Lorem ipsum dolor sit amet consectet laudantium fugit maxime, nesciunt debitis rem nihil repellat consectetur voluptatum.</p>
		</div>
		{# DATA #}
		{% if user == app.user.user %}
			<div class="flex-1 flex flex-col items-start justify-start p-3">
				<h3>Informations Personnelles*</h3>
				<div class="grid grid-cols-2 gap-4 items-center my-2">
					<div class="text-sm">Adresse email</div>
					<div class="italic">{{user.auth}}</div>
					<div class="text-sm">Date de naissance</div>
					<div class="italic">{{user.bornAt | date('d/m/Y')}}</div>
				</div>
				<h3>Statistiques Personnelles*</h3>
				<div class="grid grid-cols-2 gap-4 items-center my-2">
					<div class="text-sm">Durée</div>
					<div class="italic">A voir...</div>
					<div class="text-sm">Commentaires</div>
					<div class="italic">{{user.comments | length}}</div>
					<div class="text-sm">Suggestions</div>
					<div class="italic">{{user.suggestions | length}}</div>
				</div>
			</div>
		{% endif %}
	</div>
	<hr>
	{# COMMENTS #}
	{% if user.comments | length != 0 %}
		<div class="pt-5">
			<h2 class="ml-6">Commentaires ({{user.comments | length}})</h2>
			{% for comment in user.comments %}
				{% set author = user %}

				<div class="comment main" data-id="{{comment.id}}">
					<div class="comment-info">
						<img src="{% if author != null %}{{author.avatar}}{% else %} /favicon.svg {% endif %}" alt="" class="avatar small"/>
						<div class="flex flex-col">
							<span class="author">
								{% if author != null %}
									<a href="{{path('profile', {slug: author.slug})}}">
										{{author}}
									</a>
								{% else %}
									<em>Compte supprimé</em>
								{% endif %}
							</span>
							<span class="date">
								{{comment.updateAt | date('d/m/Y • H:i')}}
								<a href="{{ path('article_detail', {slug: comment.article.slug, _fragment: 'comment-' ~ (comment.id |trans)}) }}" class="btn-mini">voir</a>
								{% if comment.replyTo %}
									<em>Réponse</em>
								{% endif %}
							</span>
						</div>
					</div>
					<div class="comment-content">
						{{comment.content}}
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if user == app.user.user %}
		<hr>
		<p class="text-sm italic my-4">
			*Ces informations ne sont visibles que par vous.
		</p>
	{% endif %}

</div>
{% endblock %}
