{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

{% if app.user %}
	<a href="{{path('profile', {slug: app.user.user.slug})}}">
		Moi
	</a>
	<br>
	<a href="{{path('profile_edit')}}">
		Edit
	</a>
	<br>
	<a href="{{path('profile_changepassword')}}">
		Changer de mot de passe
	</a>
	<br>
	<a href="{{path('change_email')}}">
		Changer d'email
	</a>
	<br>
	<a href="{{path('reset_password_request')}}">
		Mot de passe oublié
	</a>
	<br>
	<a href="{{path('profile_delete')}}">
		Supprimer mon compte
	</a>

{% endif %}

<pre>
    {{ dump(user) }}
</pre>
{% endblock %}
