{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="login">
    <div class="login-card">
        <div class="login-img">
            <img class="" src="/image/woman.png" alt="Woman working" />
        </div>
        <form action="{{ path('login') }}" method="POST" class="login-form">
            
            <h1 class="text-center text-4xl mb-8">Connexion</h1>

            {% if error %}
            <div class="alert-line alert-danger">Email ou mot de passe incorect.</div>
            {% endif %}

            <div class="form-control">
                <label for="username" class="">Email</label>
                <input type="email" name="_username" class="w-full form-input" value="{{ last_email }}"/>
            </div>
            <div class="form-control" is="password-input">
                <label for="password" class="">Mot de passe</label>
                <div class="">
                    <input type="password" name="_password" id="password" class="w-full form-input" />
                    <button class="show-btn" tabindex="-1">Voir</button>
                </div>
            </div>
            <div class="form-control">
                <label for="checkbox" class="">
                    <input type="checkbox" name="_remember_me" id="checkbox" class="mr-2 form-input" checked/>
                    Se souvenir de moi.
                </label>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="text-gray-500 my-5">
                Mot de passe oublié ?
                <a href="{{ path('reset_password_request') }}" class="text-link">
                    Restaurez le.
                </a>
            </div>


            <div class="flex justify-center mt-3">
                <input type="submit" name="submit" id="sub" value="SE CONNECTER" class="btn btn-primary" />
            </div>

            <div class="text-gray-500 text-center my-8">
                Je n'ai pas de compte.
                <a href="{{ path('registration') }}" class="text-link">
                    Je m'inscris.
                </a>
            </div>

        </form>
    </div>
</div>

{% endblock %}
