<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#7300C4">
        <meta name="application-name" content="SpaceCoder">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/favicon.svg">

        {% block meta %}
        <meta name="title" content="SpaceCoder">
        <meta name="description" content="Rejoignez le voyage à travers le web et partagez librement vos idées, ici on vous écoute !">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{absolute_url(app.request.pathInfo)}}">
        <meta property="og:title" content="SpaceCoder">
        <meta property="og:description" content="Rejoignez le voyage à travers le web et partagez librement vos idées, ici on vous écoute !">
        <meta property="og:image" content="{{absolute_url(asset('favicon.svg'))}}">


        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{absolute_url(app.request.pathInfo)}}">
        <meta property="twitter:title" content="SpaceCoder">
        <meta property="twitter:description" content="Rejoignez le voyage à travers le web et partagez librement vos idées, ici on vous écoute !">
        <meta property="twitter:image" content="{{absolute_url(asset('favicon.svg'))}}">
        {% endblock %}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% if app.environment == 'prod' %}
            <!-- Matomo -->
            <script defer>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//matomo.sergemezui.com/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '3']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
            </script>
            <!-- End Matomo Code -->
        {% endif %}
    </head>
    <body class="">

        {{ include('components/flash.html.twig') }}


        {% include "_partials/_header.html.twig" %}

        <div class="main">
            {% block body %}{% endblock %}
        </div>

        {% include "_partials/_footer.html.twig" %}

        {# TOAST BOX #}
        <div class="toast-box" is="toast-box"></div>

        {# DOM ELEMENTS #}
        <span is="dom-elements"></span>

        {# BACK TO TP #}
        {{ include('components/back_to_top.html.twig') }}

        {# TEMPLATES HTML #}

        {# TOAST #}
        <template id="toast-layout">
            <div class="toast" is="toast-item">
                <div class="toast-header">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon stroke-purple">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"></path>
                    </svg>
                    <div class="toast-title">Toast</div>
                </div>
                <div class="toast-content"></div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="toast-close">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </div>
        </template>

    </body>
</html>