{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}

<div class="container m-auto rounded bg-gray-100">
    <nav class="breadcrumb w-full p-5">
        <ul class="breadcrumb-list">
			<li class="item"><a href="{{ path('home') }}">Accueil</a></li>
            <li class="item"><a href="{{ path('profile', {slug: app.user.user.slug}) }}">Profil de {{app.user.user}}</a></li>
            <li class="item active">
                <a href="">Changer le mot de passe</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container m-auto rounded flex flex-col md:flex-row gap-4 p-4 bg-gray-100">
    <div class="flex-1 flex flex-col items-start justify-start p-3 text-gray-500">
        <h3>Changer votre mot de passe.</h3>
        <hr class="w-full mb-4">
        <p>Vous pouvez changer votre mot de passe à tout moment.</p>
        <p>Pour le faire, il suffit de remplir ces champs :</p>
        <ol class="list-decimal  flex flex-col ml-8 gap-2">
            <li>Renseignez votre mot de passe actuel. Celui-ci permet de nous rassurer qu'il s'agisse bien de vous ;</li>
            <li>Renseignez votre nouveau mot de passe en vous rassurant bien qu'il respecte nos standard de sécurité de mot de passe (doit contenir au moins huit caractères, au moins une lettre, un chiffre et un caractère spécial : {{ '[ # ? ! @ $ % ^ & * - ]' }});</li>
            <li>Confirmez votre nouveau mot de passe pour être sûr que vous ne vous ete pas trompé.</li>
        </ol>
        <p>Soumettez le formulaire, un message d'erreur sera affiché en cas d'erreur sinon votre mot de passe sera bien mis à jour et vous pourrez l'utiliser.</p>
    </div>
    <form action="" method="post" class="flex justify-center flex-1 py-7">
        {{ form_start(form) }}
        {{ form_row(form._token) }}

        <div class="row">

            <div class="form-control {% if form_errors(form.oldPassword) %} invalid {% endif %}" is="password-input">
                {{ form_label(form.oldPassword) }}
                <div class="">
                    {{ form_widget(form.oldPassword) }}
                    <button class="show-btn" tabindex="-1">Voir</button>
                </div>
                {{ form_errors(form.oldPassword) }}
                {{ form_help(form.oldPassword) }}
            </div>

            <div class="form-control {% if form_errors(form.newPassword) %} invalid {% endif %}" is="password-input">
                {{ form_label(form.newPassword) }}
                <div class="">
                    {{ form_widget(form.newPassword) }}
                    <button class="show-btn" tabindex="-1">Voir</button>
                </div>
                {{ form_errors(form.newPassword) }}
                {{ form_help(form.newPassword) }}
            </div>

            <div class="form-control {% if form_errors(form.confirmPassword) %} invalid {% endif %}" is="password-input">
                {{ form_label(form.confirmPassword) }}
                <div class="">
                    {{ form_widget(form.confirmPassword) }}
                    <button class="show-btn" tabindex="-1">Voir</button>
                </div>
                {{ form_errors(form.confirmPassword) }}
                {{ form_help(form.confirmPassword) }}
            </div>

            <div class="mt-6 text-center">
                <input type="submit" name="submit" id="sub" value="METTRE À JOUR" class="btn btn-primary" />
            </div>
        </div>
        {{ form_end(form) }}
                        
    </form>
</div>


{% endblock %}
