<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('swagger/swagger-ui.css')) }}" />
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('swagger/index.css')) }}" />
    <link rel="icon" type="image/png" href="{{ absolute_url(asset('swagger/favicon-32x32.png')) }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ absolute_url(asset('swagger/favicon-16x16.png')) }}" sizes="16x16" />
    {% if app.environment == 'prod' %}
      <!-- Matomo -->
      <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
          var u="//matomo.sergemezui.com/";
          _paq.push(['setTrackerUrl', u+'matomo.php']);
          _paq.push(['setSiteId', '3']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
      </script>
      <!-- End Matomo Code -->
    {% endif %}
  </head>

  <body>
    <div id="swagger-ui"></div>
    <script src="{{ absolute_url(asset('swagger/swagger-ui-bundle.js')) }}" charset="UTF-8"> </script>
    <script src="{{ absolute_url(asset('swagger/swagger-ui-standalone-preset.js')) }}" charset="UTF-8"> </script>
    <script src="{{ absolute_url(asset('swagger/swagger-initializer.js')) }}" charset="UTF-8"> </script>
  </body>
</html>
