<div class="project-card">
    <img src="{{project.image}}" alt="{{project.name}}" />
    <div class="flex flex-col">
        <h2>{{project.name}}</h2>
        <span class="author">{{project.authors}}</span>
        <p class="text-sm text-gray-500">{{project.description}}</p>
    </div>
    <div class="footer">
        <span class="visit">{{project.visit}} visites</span>
        <a href="{{project.slug}}" class="inset-0 text-purple">VISITER</a>
    </div>
</div>