<pre>
    {{ dump(signedUrl) }}
</pre>

<table>
	<tr>
		<td>Lien</td>
		<td><a href="{{ signedUrl }}">Cliquez !!</a></td>
	</tr>
	<tr>
		<td>Pseudo</td>
		<td>{{ pseudo }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>{{ emaila }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>{{ expiration }}</td>
	</tr>
</table>

